<br>

<form>
  <mat-form-field appearance="outline">
    <mat-label>Registration number</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Company name</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <div class="multiple-input-line">
    <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input type="email" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone number</mat-label>
      <input type="tel" matInput />
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Address line 1</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Address line 2</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <div class="multiple-input-line">
    <mat-form-field appearance="outline">
      <mat-label>Zip code</mat-label>
      <input type="text" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input type="text" matInput />
    </mat-form-field>
  </div>

  <div class="button-container">
    <button type="button" mat-raised-button color="primary">Save</button>
  </div>
</form>
