form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.multiple-input-line {
  display: flex;
  justify-content: space-between;

  mat-form-field {
    width: 48%;
  }
}

mat-form-field {
  display: block;
}

.w-40 {
  width: 40%;
}

.info {
  margin-top: 2rem;
  text-align: center;
}