form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.multiple-input-line {
  display: flex;
  justify-content: space-between;

  mat-form-field {
    width: 48%;
  }
}

mat-form-field {
  display: block;
}

.w-40 {
  width: 40%;
  max-width: 40.625rem;
}

.info {
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 1500px) {
  .w-40 {
    width: 80%;
  }
}

@media (max-width: 599px) {
  .w-40 {
    width: 98%;
  }

  .multiple-input-line {
    flex-direction: column;

    mat-form-field {
      width: 100%;
    }
  }
}
