<a routerLink="edit" class="new-button" mat-raised-button color="primary"
  >New invoice</a
>
<table mat-table [dataSource]="invoiceList">
  <ng-container matColumnDef="num">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.num }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.date | date : "mediumDate" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="customer">
    <th mat-header-cell *matHeaderCellDef>Customer</th>
    <td mat-cell *matCellDef="let element">
      {{ element.customer.firstName + " " + element.customer.lastName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let element">
      {{ computeTotal(element.products) | currency : "EUR" : "" }}€
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="displayInvoice(element)" fontIcon="search" matTooltip="Display invoice"></mat-icon>
      <mat-icon
        (click)="editInvoice(element)"
        fontIcon="edit"
        matTooltip="Edit Invoice"
      ></mat-icon>
      <mat-icon
        (click)="deleteInvoice(element._id)"
        fontIcon="delete"
        matTooltip="Delete invoice"
      ></mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>


<ng-template #displayDialog>
  <iframe [src]="invoicePdf" width="100%" height="100%"></iframe>
</ng-template>
