h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-line {
  display: flex;
  justify-content: space-between;
  width: 40%;

  mat-form-field {
    width: 48%;
  }
}

mat-form-field {
  display: block;
  width: 40%;
}

.price {
  width: 250px;
}

