h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-line {
  display: flex;
  justify-content: space-between;
  width: 40%;
  max-width: 40.625rem;

  mat-form-field {
    width: 48%;
  }
}

mat-form-field {
  display: block;
  width: 40%;
  max-width: 40.625rem;
}

.price {
  width: 15.625rem;
}

.button-container {
  display: flex;

  a {
    margin-right: 2rem;
  }
}

@media (max-width: 1500px) {
  .first-line, mat-form-field {
    width: 80%;
  }
}

@media (max-width: 599px) {
  .first-line {
    flex-direction: column;
    width: 98%;

    mat-form-field {
      width: 100%;
    }
  }

  mat-form-field {
    width: 98%;
  }
}