<div class="container">
  <a
    (mouseenter)="sectionName = 'Quotations'"
    (mouseleave)="sectionName = ''"
    (click)="setSection({ name: 'Quotations', color: appColors.blue })"
    class="petal petal1 mt-200"
  >
    <h2 class="petal-content">Quotations</h2>
  </a>
  <a
    (mouseenter)="sectionName = 'Orders'"
    (mouseleave)="sectionName = ''"
    (click)="setSection({ name: 'Orders', color: appColors.green })"
    class="petal petal2"
  >
    <h2 class="petal-content">Orders</h2>
  </a>
  <a
    (mouseenter)="sectionName = 'Invoices'"
    (mouseleave)="sectionName = ''"
    (click)="setSection({ name: 'Invoices', color: appColors.yellow })"
    routerLink="invoices"
    class="petal petal3"
  >
    <h2 class="petal-content">Invoices</h2>
  </a>
  <a
    (mouseenter)="sectionName = 'Customers'"
    (mouseleave)="sectionName = ''"
    (click)="setSection({ name: 'Customers', color: appColors.orange })"
    routerLink="customers"
    class="petal petal4"
  >
    <h2 class="petal-content">Customers</h2>
  </a>
  <a
    (mouseenter)="sectionName = 'Products'"
    (mouseleave)="sectionName = ''"
    (click)="setSection({ name: 'Products', color: appColors.red })"
    routerLink="products"
    class="petal petal5 mt-200"
  >
    <h2 class="petal-content">Products</h2>
  </a>
  <h2 class="hovered-section">{{ sectionName }}</h2>
</div>
