.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;

  .petal {
    width: 9.375rem;
    height: 9.375rem;
    border: 0.125rem solid black;
    border-radius: 0 100%;
    position: relative;
    cursor: pointer;
  }

  .petal1 {
    @extend .petal;
    transform: rotate(-45deg);
    left: 6.5625rem;

    &:hover {
      background-color: rgb(140, 204, 241);
    }
  }

  .petal2 {
    @extend .petal;
    left: 1.875rem;

    &:hover {
      background-color: rgb(149, 241, 195);
    }
  }

  .petal3 {
    @extend .petal;
    transform: rotate(45deg);
    margin-top: -6.25rem;

    &:hover {
      background-color: rgb(255, 255, 204);
    }
  }

  .petal4 {
    @extend .petal;
    transform: rotate(90deg);
    left: -1.875rem;

    &:hover {
      background-color: rgb(255, 227, 135);
    }
  }

  .petal5 {
    @extend .petal;
    transform: rotate(135deg);
    left: -6.5625rem;

    &:hover {
      background-color: rgb(247, 145, 145);
    }
  }

  .mt-200 {
    margin-top: 12.5rem;
  }

  .petal-content {
    display: none;
  }

  .hovered-section {
    position: absolute;
    margin-top: 15.625rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 100%;

    .petal {
      width: 100%;
      height: 15%;
      border-radius: 0;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0.1875rem 0;
      border: none;
      border-top: 0.0625rem solid black;
      border-bottom: 0.0625rem solid black;
      text-decoration: none;

      &visited {
        color: inherit;
      }
    }

    .petal1,
    .petal2,
    .petal3,
    .petal4,
    .petal5 {
      transform: none;
      left: 0px;
      right: 0px;
      margin-top: 0px;
    }

    .petal1 {
      background-color: rgb(140, 204, 241);
    }

    .petal2 {
      background-color: rgb(149, 241, 195);
    }

    .petal3 {
      background-color: rgb(255, 255, 204);
    }

    .petal4 {
      background-color: rgb(255, 227, 135);
    }

    .petal5 {
      background-color: rgb(247, 145, 145);
    }

    .mt-200 {
      margin-top: 0px;
    }

    .hovered-section {
      display: none;
    }

    .petal-content {
      display: block;
      margin-bottom: 0px;
    }
  }
}
