<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Please, log in to access your documents</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Login</mat-label>
            <input
              type="text"
              [(ngModel)]="userCredentials.email"
              (ngModelChange)="loginError = false"
              name="email"
              matInput
              required
            />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              type="password"
              [(ngModel)]="userCredentials.password"
              (ngModelChange)="loginError = false"
              name="password"
              matInput
            />
          </mat-form-field>
        </p>
      </form>
    </mat-card-content>

    <div class="error-container">
      <mat-error *ngIf="loginError">
        Error while trying to log in, please try again
      </mat-error>
    </div>

    <mat-card-actions>
      <a mat-button routerLink="/signup">Create an account</a>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="formSubmit()"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</div>
